body {
    color: blueviolet;
    background-color: rgba(199, 247, 243, 0.705);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    color: blueviolet;
}

input {
    width: 200px;

    border: none;
    background-color: transparent;
    border-bottom: 1px solid blueviolet;
    margin: 2px;
    height: 38px;
    padding: 3px;
    color: blueviolet;
}
button {
    margin: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    color: rgb(199, 247, 243);
    outline: 0;
    border: 2px solid rgb(149, 20, 175);
    cursor: pointer;
    position: relative;
    background-color: rgba(190, 58, 223, 0.945);
}
.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logout-button {
    width: 27px;
}
a:link {
    color: #7af5e2;
    margin: 10px 16px;
    font-size: 20px;
}
a:visited {
    color: #eb42e2;
}
a:hover {
    color: #a766ff;
}
a:active {
    color: #77dba1;
}

.error-message {
    color: rgb(240, 72, 72);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    margin: 0 10px;
}

h1 {
    display: flex;
    align-items: center;
}

main {
    width: 65%;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.reg-log {
    margin: 25px;
}

.form a {
    font-size: 15px;
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    background-color: rgba(41, 18, 46, 0.733);
    /* padding-top: 50px; */
}

.modal-content {
    background-color: #76e6eeb9;
    margin: 10% auto;
    width: 501px;
    border-radius: 5px;
    height: 147px;
    padding: 57px 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label {
    font-size: 10px;
}
.inputfile + label {
    font-size: 1em;
    height: 35px;
    text-align: center;
    color: white;
    background: linear-gradient(
        45deg,
        transparent 3%,

        #ba7fe2 5%
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 10%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: end;
    margin: 10px 0;
}

.container img {
    margin-right: 18px;
}

.container h1 {
    margin: 0;
}
