body {
    color: blueviolet;
    background-color: rgb(199, 247, 243);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input::placeholder {
    color: blueviolet;
}

input {
    width: 200px;

    border: none;
    background-color: transparent;
    border-bottom: 1px solid blueviolet;
    margin: 2px;
    height: 38px;
    padding: 3px;
    color: blueviolet;
}
button {
    margin: 10px;
    font-size: 16px;
    width: 100px;
    border-radius: 5px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    color: rgb(199, 247, 243);
    outline: 0;
    border: 2px solid rgb(149, 20, 175);
    cursor: pointer;
    position: relative;
    background-color: rgba(190, 58, 223, 0.945);
}
.logo {
    width: 80px;
}

.logout-button {
    width: 27px;
}
a:link {
    color: #1ebba3;
    margin: 0 5px;
    font-size: 20px;
}
a:visited {
    color: #ff00f4;
}
a:hover {
    color: #a766ff;
}
a:active {
    color: #ff9800;
}

.error-message {
    color: rgb(240, 72, 72);
}
