body {
    color: blueviolet;
    background-color: rgba(173, 248, 242, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: "Orbitron", sans-serif;
    font-family: "Quicksand", sans-serif;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

/* .chat {
    display: flex;
    border: 0.5px solid rgba(137, 43, 226, 0.471);
    flex-direction: column;
    padding: 10px;
    height: 300px;
    width: 200px;
    overflow-y: auto;
} */

.chat-container {
    display: flex;
    border: 0.5px solid rgba(137, 43, 226, 0.471);
    flex-direction: column;
    padding: 10px;
    height: 300px;
    width: 200px;
    overflow-y: auto;
}
.chat-textarea {
    color: rgb(137, 105, 226);
    margin: 0;
    width: 195px;
    padding: 12px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-pic-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 22%;
    top: 9px;
    margin: 20px;
    position: absolute;
}

.logout-button {
    width: 27px;
}
a:link {
    color: #7af5e2;
    margin: 10px;
    font-size: 11px;
}
a:visited {
    color: #e678e0;
}
a:hover {
    color: #a766ff;
}
a:active {
    color: #77dba1;
}

.error-message {
    color: rgb(240, 72, 72);
}

nav {
    display: flex;
    align-items: end;
    justify-content: end;
}
nav a {
    margin: 0;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.form a {
    font-size: 15px;
}

input::placeholder {
    color: blueviolet;
}

input {
    width: 200px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid blueviolet;
    margin: 2px;
    height: 38px;
    padding: 3px;
    color: blueviolet;
}
.inputfile {
    width: 94px;
    height: 66.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}
label {
    font-size: 10px;
}
.inputfile + label {
    font-size: 1em;
    cursor: pointer;
    width: 96px;
    height: 19px;
    text-align: center;
    color: white;
    background: linear-gradient(
        45deg,
        transparent 3%,

        #ba7fe2 5%
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 10%;
}

label {
    cursor: pointer;
}
button {
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 5px 10px;
    color: rgb(246, 241, 250);
    font-size: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: rgba(181, 27, 216, 0.945);
}
.close-button {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

textarea {
    background: transparent;
    margin: 10px 0;
    border: 1px solid #888;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 17px;
}

main {
    width: 64%;
    margin: 20px;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.reg-log {
    margin: 25px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(137, 43, 226, 0.281);
}

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    background-color: rgba(41, 18, 46, 0.733);
    /* padding-top: 50px; */
}

.modal-content {
    background-color: #76e6eeb9;
    margin: 10% auto;
    width: 501px;
    border-radius: 5px;
    height: 147px;
    padding: 20px 20px;
}
.modal-form {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.margin {
    margin: 10px 5px 12px 9px;
}
.color {
    background-color: rgba(215, 190, 241, 0.348);
    border: none;
}

.friends-and-wannabe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e4b4ee60;
    padding: 20px;
    margin: 20px 0;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
}

.container {
    display: flex;
    align-items: end;
    margin: 10px 0;
    padding: 15px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201017/pngtree-low-poly-geometric-background-of-holographic-triangles-of-different-sizes-and-image_420725.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container img {
    margin-right: 18px;
}

.container h1 {
    margin: 0;
    font-size: 20pt;
}

ul {
    padding: 0;
    width: 100%;
}

p {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 3px 0;
}
.users-list {
    display: flex;
    background-color: #e4b4ee60;
    padding: 10px;
    list-style: none;
    color: blueviolet;
}

.users-list div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cancel-request {
    background-color: lightcoral;
}

.accept-request {
    background-color: rgb(49, 187, 150);
}

.users {
    width: 100px;
    height: 100px;
    border: 4px white solid;
    border-radius: 50%;
    margin-right: 15px;
}

input::placeholder {
    color: rgba(133, 106, 158, 0.651);
}

input:focus::placeholder {
    color: transparent;
}

.text-area {
    display: table-caption;
}

textarea {
    color: rgb(137, 105, 226);
}

.find-people {
    background-color: #ecdbf521;
    border-radius: 3px;
    padding: 20px;
}

.btn-submit {
    margin-top: 20px;
}
